.container
  position: relative
  z-index: 1
  width: 95%
  max-width: 1140px
  margin: auto 
  overflow: hidden

.row
  display: flex
  justify-content: space-between
  flex-wrap: wrap

.col
  &-31
    width: 31.6% 
  &-43
    width: 43.68%
  &-48
    width: 48.32%
  &-65
    width: 65%