.button
  min-width: rem(160px)
  padding: rem(16px)
  font-family: Roboto, sans-serif
  font-size: rem(12px)
  font-weight: bold
  text-transform: uppercase
  cursor: pointer
  &--primary
    background-color: $primary
    color: $btn-dark
    border: none
  &--outline
    background-color: transparent
    color: $primary
    border: 1px solid $primary
  &--rounded
    border-radius: 30px