.button
  min-width: rem(160px)
  min-height: rem(45px)
  padding: rem(16px)
  font-size: rem(12px)
  font-weight: bold
  text-transform: uppercase
  border-radius: 30px
  cursor: pointer
  text-align: center
  &--primary
    background-color: $primary
    color: $btn-dark
    border: none
  &--outline
    background-color: transparent
    color: $primary
    border: 1px solid $primary

.form
  display: flex
  flex-wrap: wrap
  justify-content: center
  margin: auto


.input
  position: relative
  padding: 0 rem(25px)
  min-height: 45px
  min-width: 268px
  border-radius: 30px
  border: none
  background-color: $light
  color: #101010
  font-size: 13px
  font-weight: 300
  flex-basis: 23.5%
  &::placeholder
    opacity: 0.7
    
.policy
  flex-basis: 100%
  position: relative
  &__label
    display: flex
    align-items: center
    justify-content: center
    color: $light
    font-family: Roboto
    font-size: 11px
    font-weight: 400
    line-height: 22.04px
    text-transform: uppercase
    &::before
      content: ''
      min-width: 18px
      height: 18px
      margin-right: 0.57rem
      border: 1px solid rgba(0, 0, 0, 0.4)
      border-radius: 2px
      cursor: pointer
      background-color: $light

  &__checkbox
    visibility: hidden
    opacity: 0
    position: absolute
    &:checked ~
      .policy__label
        &::before
          background: $primary url('../img/check.svg') no-repeat center

.swiper
  &__button
    &-next,
    &-prev
      width: 36px
      height: 36px
      border-radius: 50%
      position: absolute
      z-index: 1
      top: 0
    &-next
      left: 0
      background: $primary url('../img/button-arrow.svg') no-repeat left 13px center
    &-prev
      right: 0
      background: $primary url(../img/button-arrow.svg) no-repeat left 13px center
      transform: scaleX(-1)

.scroll-up
  display: none
  position: fixed
  z-index: 5
  right: 15px
  bottom: 15px
  width: 36px
  height: 36px
  background: $primary url(../img/button-arrow.svg) no-repeat center
  transform: rotate(90deg)
  border-radius: 50%
  border: none
  opacity: 0.7
  transition: 0.2s
 
  &:active, &:focus
    outline: none