@media screen and ( max-width: 1500px )
  .promo
    &-slide
      &__container
        font-size: 12.5px

@media screen and ( max-width: 1200px )
  .club-choise,
  .visit-signup
    margin: auto

  .promo
    &-slide
      &__container
        font-size: 10.5px
  .cards
    &__periods
      justify-content: space-around
    &__period
      width: 48%
      margin-bottom: 20px

@media screen and ( max-width: 992px )
  html
    font-size: 12px

  .visit-signup
    display: none
  
  .promo
    &-slide
      &__container
        font-size: 8.5px

@media screen and ( max-width: 768px )
  .header
    &__button 
      display: none

  .nav
    display: none

  .promo
    &-slide
      &__container
        font-size: 6px

  .clubs
    &__row
      justify-content: center

  .club
    width: 75%
    margin-bottom: 20px
  
  .visit
    padding: 2.5rem 0

  .input
    flex-basis: 80%
    margin-bottom: 12px
    
  .policy
    order: 0
    margin-bottom: 20px

  .cards
    &__row
      flex-direction: column
      align-items: center

    &__col-1
      width: 60%
      margin: 5% 0 10%
    &__col-2
      width: 80%
      min-width: 300px

@media screen and ( max-width: 576px )
  .club-choise
    display: none

  .promo
    &-slide
      &__image
        z-index: -1
        opacity: 0.3

  .club
    width: 95%
    &-branch
      background-position: left 5% top 30%, right 5% top 30%
  
  .visit
    &::before
      display: none

  .input
    flex-basis: 100%


  .swiper-container-horizontal>.swiper-pagination-bullets
    bottom: 5%
