@media screen and ( max-width: 1500px )
  .promo
    &-slide
      &__container
        font-size: 12.5px

@media screen and ( max-width: 1200px )
  .club-choise,
  .visit-signup
    margin: auto

  .promo
    &-slide
      &__container
        font-size: 10.5px

@media screen and ( max-width: 992px )
  html
    font-size: 12px

  .visit-signup
    display: none
  
  .promo
    &-slide
      &__container
        font-size: 8.5px

@media screen and ( max-width: 768px )
  .header
    &__button 
      display: none

  .nav
    display: none

  .promo
    &-slide
      &__container
        font-size: 6px

  .clubs
    &__row
      justify-content: center

  .club
    width: 75%
    margin-bottom: 20px

@media screen and ( max-width: 576px )
  .club-choise
    display: none

  .promo
    &-slide
      &__image
        z-index: -1
        opacity: 0.5

  .club
    width: 95%

  .branch
    background-position: left 5% top 30%, right 5% top 30%

  .swiper-container-horizontal>.swiper-pagination-bullets
    bottom: 5%
