*, *:before, *:after
  box-sizing: border-box

*:focus
  outline-color: $primary

html
  font-size: $basic-fz
  // overflow-x: hidden

body
  font-family: Roboto, sans-serif
  font-size: 1rem
  font-weight: normal

img
  max-width: 100%

.phone
  &__label
    display: block
    margin-bottom: 4px
    font-size: rem(12px)
    font-weight: 300
    text-align: right
    color: $light

  &__number
    font-size: rem(19px)
    font-weight: 700
    text-decoration: none
    color: $light

.section
  &__heading
    margin: 0 0 rem(30px)
    color: $dark
    font-size: rem(28px)
    font-weight: 400
    text-transform: uppercase
    text-align: center
    &::after
      display: block
      content: ''
      width: 87px
      height: 2px
      background-color: $primary
      margin: 15px auto 0
    &--light
      color: $light
      &::after
        display: none

.branch
  border: 1px solid rgba(39, 25, 48, 0.14)
  border-top: none
  color: $dark
  font-size: rem(17px)
  font-weight: 300
  text-align: center
  background: url(../img/location-icon.svg) no-repeat 5% center, url(../img/location-icon.svg) no-repeat right 5% center
  background-size: 6%
  padding: rem(28px) 0 rem(34px)
  &__title
    display: block
    font-size: rem(18px)
    font-weight: 500
    line-height: rem(25px)
    &__address
      display: block

.swiper
  &-cover
    position: relative
    margin: auto
.swiper-pagination
  .swiper-pagination-bullet
    width: 20px
    height: 4px
    background-color: $light
    opacity: 1
    border-radius: 5px
    &-active
      background-color: $primary
