.cards
  padding: rem(60px) 0 rem(66px)
  &__col-1
    display: flex
    justify-content: center
    align-items: center
  &-image
    position: relative
    width: 70%
    &__pre,
    &__post
      position: absolute
      z-index: -1
      width: 100%
      filter: blur(5px)
    &__pre
      top: 0
      left: 0
      transform: translate(-20%, -20%)
    &__post
      right: 0
      bottom: 0
      transform: translate(20%, 20%)
    
  &__form
    flex-direction: column
  &__periods
    display: flex
    justify-content: space-between
    flex-wrap: wrap
    margin-bottom: 24px
  &__period
    width: 24%
    min-width: rem(120px)
    padding: 15px 10px
    font-size: rem(12px)
    text-transform: uppercase
    text-align: center
    background-color: $light
    border: 1px solid #b7b7b7
    border-radius: 30px
    cursor: pointer
    opacity: 0.6
  &__input
    width: 100%
    margin-right: 0px
    margin-bottom: 12px
    font-size: 14px
    border: 1px solid #b7b7b7
    &::placeholder
      color: #94939a
  &__clubs
    margin-bottom: 7px
  &__club
    display: flex

    &::before
      content: ''
      width: 21px
      height: 21px
      margin-right: 11px
      background-color: $light
      border: 1px solid rgba(0, 0, 0, 0.4)
      border-radius: 4px
      cursor: pointer
  &-branch
    margin-bottom: 20px
    &__title,
    &__address
      margin-bottom: 3px
      font-size: rem(16px)
  &-policy
    align-self: flex-start
    margin-top: 3px
    margin-bottom: 18px
    padding-left: 20px
    &__label
      font-weight: 300
      color: #94939a
      &::before
        min-width: 21px
        height: 21px
        margin-right: 11px
        border-radius: 4px
  &__button
    align-self: flex-end
    min-width: 190px
        

input[type=radio]
    display: none

input[name=period]:checked + label  
    border: none
    background-color: $primary
    transition: 0.3s
    opacity: 1

input[name=club]:checked + label  
    &::before
      background: $primary url('../img/check.svg') no-repeat center