.header
  background: linear-gradient(to right, #561a36 0%, #1e1c34 100%)
  &__club-choise
    margin: 0 7% 0 auto
    padding: rem(16px) rem(32px) rem(16px) 57px
    background: url(../img/down-arrow.svg) no-repeat 30px center
  &__visit-signup
    margin-right: 6%
    padding-left: 45px
    font-size: rem(14px)
    line-height: rem(18px)
    font-weight: bold
    text-align: left
    background: transparent url(../img/signup.svg) no-repeat left center
    color: $light
    cursor: pointer
  &__contact
    margin-right: 2%
  &-nav
    background-color: #000000
    background-image: linear-gradient(to right, #230a16 0%, #0c0b15 100%)
    &__container
      display: flex
      justify-content: space-between
      align-items: stretch
      padding: rem(15px) 0 rem(18px)
    &__item
      color: $light
      font-size: rem(14px)
      line-height: rem(31px)
      font-weight: 400
      text-transform: uppercase
      text-decoration: none
.menu
  padding: rem(20px) 0 
  display: flex
  justify-content: space-between
  align-items: center



.separator
  border-left: 1px dotted rgba($light, 0.3)
